@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

* {
    margin: 0;
}

html, body {
    /* height: 100%; */
    margin: 0;
}

body {
    background-color: blue;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat Alternates', sans-serif; 
    justify-content: center;
    text-transform: uppercase;
}

header {
    background-color: rgb(7, 7, 233);
    border-bottom: 1px solid whitesmoke;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* .sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
} */

#navbar {
    width: 90%;
}

#title {
    align-items: center;
    display: flex;
    float: left;
    justify-content: center;
}

#title img {
    width: 5em;
    height: 5em;
}

#title p {
    font-size: 1.5em;
    margin-left: 0.85em;
}
#title h1 {
    color: whitesmoke;
    font-size: 2em;
    font-weight: 900;
    margin-left: 0.5em;
    border-top: 1px solid whitesmoke;
}

#search-div {
    align-items: center;
    float: right;
    display: flex;
    flex-flow: row wrap;
}

#giph-input {
    border: 2px solid whitesmoke;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.5em;
    margin: 0.75em;
    padding: 0.5em;
    width: 15em;
}

#add-giph {
    background-color: rgb(7, 7, 233);
    
    border-radius: 4px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0.75em;
    padding: 0.5em;
    text-transform: uppercase;
    width: 11.1em;
}

#add-giph:hover {
    cursor: pointer;
    background-color: blue;
}

/* Main Content */
.page {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 90%;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 1em 0;
}

#control{
    
    display: flex;
    /* float: right; */
    justify-content: center;
    margin: 0 1em;
    width: 17em;
}
i {
    margin: 0 0.15em;
    padding: 0.2em;
    border: 1px solid blue; 
    border-radius: 4px;
}

i:hover {
    cursor: pointer;
    border: 1px solid whitesmoke;
    background-color: rgb(7, 7, 233);
    
}
/* #play-all:hover {
    color: rgb(5, 219, 5)
}

#stop-all:hover {
    color: red
} */

.container {
    align-self: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin: 1.5em; */

    
}

#buttons-view {
    display: flex;
    float: left;
    flex-direction: column;
    align-content: center;
    
}

.giph-btn {
    background-color: blue;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0.25em 0.5em;
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
    width: 10em;
}

.giph-btn:hover {
    background-color: rgb(7, 7, 233);
    cursor: pointer;
}

.giph-btn:active {
    cursor: move;
}

#giphs-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 85%;
}

#giphs-view img {
    height: 400px;
    width: auto;
}

#giphs-view p {
    font-weight: bolder;
    letter-spacing: 0.1em;
    text-align: center;
}

.giph {
    margin: 0 1em 2.75em 0;
}

.giph:hover {
    cursor: pointer;
}

.giph:active {
    cursor: move;
}

